@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  align-items: center;
}

.container {
  width: 70vw;
  height: 80vh;
  background-color: #f2ebe3;
  margin: 3rem 0 0 10rem;
  box-shadow: 0 4px 10px 6px #dedede;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  height: 23%;
  width: 30%;
  display: flex;
  justify-content: center;
}

.product-img {
  height: 23rem;
  width: 15rem;
}

.product-detail {
  height: 23rem;
  width: 15rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0 20px 0 20px;
}
.product-detail h2 {
  font-family: "Fraunces";
  font-weight: 700;
  margin-right: 1.5rem;
}
.product-detail p {
  font-family: "Montserrat";
  color: #6c7289;
  font-size: 14px;
  margin-right: 0.5rem;
}
.product-detail h4 {
  margin: 20px 0 0 0;
  align-self: flex-start;
  font-size: 0.5rem;
  letter-spacing: 4px;
  color: #6c7289;
  font-family: "Montserrat";
}

.product-price {
  display: flex;
  justify-content: space-between;
}
.product-price s {
  align-self: center;
  margin-right: 3rem;
  font-size: 0.65rem;
  color: #6c7289;
  font-family: "Fraunces";
}
.product-price h2 {
  font-weight: 700;
  color: #3c8067;
  font-family: "Fraunces";
}

.btn {
  display: flex;
  align-content: stretch;
  justify-content: center;
  background-color: #3c8067;
  padding: 0.5rem;
  border-radius: 0.3rem;
  margin-bottom: 1rem;
  width: 100%;
  cursor: pointer;
}
.btn button {
  background: none;
  border: none;
  margin: 0 0 0 0.5rem;
  color: white;
  align-self: center;
  cursor: pointer;
}
.btn img {
  height: 0.7rem;
  width: 0.7rem;
  align-self: center;
}
.btn:hover {
  background-color: #023120;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 2rem;
}
.attribution a {
  color: #3e52a3;
}

@media (max-width: 820px) {
  .card {
    flex-direction: column;
    margin: 1rem 0 1rem 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .product-img {
    content: url("./images/image-product-mobile.jpg");
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .product-detail {
    min-height: 25rem;
  }
  .product-detail h4 {
    display: block;
  }
}
